<article class="card">
  <figure class="card-cover">
    <img ngSrc="./assets/image-product.jpg" width="600" height="900" priority />
  </figure>

  <div class="card-content">
    <div class="card-info">
      <p class="card-tag">Perfume</p>

      <h2 class="card-title">Gabrielle Essence Eau De Parfum</h2>

      <p class="card-description">
        A floral, solar and voluptuous interpretation composed by Olivier Polge,
        Perfumer-Creator for the House of CHANEL.
      </p>
    </div>

    <div class="card-info">
      <div class="card-price">
        <p class="current-price">$149.99</p>
        <p class="old-price">$169.99</p>
      </div>

      <app-button>
        <img ngSrc="./assets/icon-cart.svg" width="14" height="14" />
        Add to Cart
      </app-button>
    </div>
  </div>
</article>
